 *{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
 }
 
 .container{
    width: 100vw;
    height: 100vh;
    background: #277a7a;
background: linear-gradient(0deg, rgba(39, 122, 122, 1) 0%, rgba(253, 187, 45, 1) 100%);
display: flex;
justify-content: center;
align-items: center;

 }
 .box{
    width: 370px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    
 }
 .box img{
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 .box p{
      text-align: center;
}
.box h2{
    font-size: 30px;
    text-align: center;
}
.box button{
    margin-left: 35px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 300px;
    height: 50px;
   background: #553d5e;
background: linear-gradient(90deg, rgba(85, 61, 94, 1) 0%, rgba(209, 159, 159, 1) 41%, rgba(252, 176, 69, 1) 100%);
box-shadow: 1px 0px 10px 0px black;
border-radius: 10px;

}
.box a{
    text-decoration: none;
    text-align: center;
}
.box .order{
    display: flex;
    justify-content: space-between;
      background: #277a7a;
background: linear-gradient(0deg, rgba(39, 122, 122, 1) 0%, rgba(253, 187, 45, 1) 100%);
 margin-left: 35px;
 width: 300px;
 height: 50px;
 border-radius: 10px;
    
}
.box .order img{
    width: 35px;
    height: 35px;
    border-radius: 2px;
}
.box .order a{
    padding: 10px;
    text-decoration: underline;
}
.box .order .box2{
    padding: 10px;
    display: flex;
    gap: 5px;
}